body{
  background-color: aqua;

}

.sf-button {
	background-color: #119744;
	color: #fff;
	border-radius: 5px;
	border: none;
	text-align: center;
	height: fit-content;
	width: fit-content;
	text-decoration: none;
	font-weight: 600;
	padding: 8px 20px;
}

.edit-button {
	text-decoration: none;
	color: #fff;
}

.section-title h1 {
	text-align: center;
	margin: 50px 0px 30px 0px;
	color: #119744;
	font-size: 36px;
	font-weight: 700;
}




.navbar-brand {
	font-size: 24px;
	font-weight: 900;
	color: #119744;
}

.navbar-brand:hover {
	color: rgb(7, 181, 123);
}

.nav-link {
	font-size: 18px;
	font-weight: 700;
	color: #119744;
}

.nav-link:hover {
	color: #03c04b;
}

/****************************************************DASHBOARD***************************************************/

.dashboard {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
}


.addbook form label {
	font-size: 16px;
	font-weight: 500;
}

.addbook form input {
	border-radius: 3px;
	border-color: #000;
}

.addbook form input:focus {
	border-color: #119744;
	box-shadow: none;
}


.books-details .card {
	width: 300px;
	height: fit-content;
}

.books-details .card img {
	width: 250px;
}

.books-details .card h5 {
	margin: 20px 0px;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
}

.books-details .card ul li {
	text-align: justify;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}

.table-bordered{
  text-align: center;
}
